.catalogPagePopular {
  margin-bottom: 50px;

  &__catalogs {
    margin-bottom: 30px;

    &__cards {
      border-radius: 3px;
      display: grid;
      gap: 20px 30px;
      grid-template-columns: repeat(3, 280px);
      grid-auto-columns: 1fr;

      &__card {
        position: relative;
        height: 100%;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
        padding: 15px 15px 66px;
        border: 1px solid #cdcdcd;

        &__heart {
          display: flex;
          justify-content: flex-end;
        }

        &__img {
          display: flex;
          justify-content: center;
          padding-bottom: 15px;

          img {
            width: 200px !important;
            height: 100px;
          }
        }

        &__descr {
          h5 {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            color: #2f3035;
            text-align: center;
          }

          p {
            display: inline-block;
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 36px;
            color: #2f3035;
            text-align: center;
          }
        }

        &__cart {
          width: calc(100% - 30px);
          position: absolute;
          bottom: 15px;
          right: 15px;
          text-align: center;

          span {
            float: right;
            background: #1c62cd;
            border-radius: 10px 0px 0px 0px;
            padding: 7px 10px;
            svg {
              -webkit-filter: invert(1) contrast(100);
              filter: invert(1) contrast(100);
            }
          }
        }
      }
    }
  }
}
