.header {
  margin-bottom: 45px;

  &__burger {
    display: none;

    span {
      width: 30px;
      height: 2px;
      display: block;
      margin-bottom: 5px;
      border: 1px solid black;
    }
  }

  &__img {
    width: 80px;
    height: 76px;
  }

  &__cart {
    background: #1c62cd;
    padding: 4px 8px;
    border-radius: 50%;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #ffffff;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    //gap: 30px;

    &__bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &.mobile {
        display: none;
      }
      &__item {
        &__last {
          margin-right: 0;
        }

        margin-right: 40px;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #2f3035;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .header__nav__bar__item {
    margin-right: 30px;
  }
}

@media screen and (max-width: 835px) {
  .header__nav__bar__item {
    margin-right: 15px;
  }
}

@media screen and (max-width: 950px) {
  .header {
    height: 56px;
  }
  .header__nav {
    position: fixed;
    padding: 5px 20px;
    left: 0;
    z-index: 10;
    background: #fff;
    box-shadow: 0 0 30px 0 #777777;
    top: 0;
  }
  .header__nav__bar {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .header__nav__bar__item {
    margin-bottom: 30px;
  }
  .header__nav__bar__item:not(.header__special, .header__nav__bar.mobile
      > .header__nav__bar__item) {
    display: none;
  }
  .header__nav__bar.mobile {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    margin: 16px 0;
    border-top: 1.5px solid lightgray;
    border-bottom: 1.5px solid lightgray;
    justify-content: center;
    -moz-column-gap: 20px;
    column-gap: 20px;
    row-gap: 10px;
  }
  .header__nav__bar.mobile li {
    font-size: 17px;
    margin: 0;
  }
  .header__special {
    margin-bottom: 0;
  }

  .header__burger {
    display: block;
    position: fixed;
    top: 4.5%;
    left: 5%;
    cursor: pointer;
    z-index: 10;
  }

  .header__blockImg {
    img {
      width: auto;
      max-height: 56px;
    }
    position: relative;
    left: calc(50% - 30px);
    z-index: 11;
  }

  // .header__info {
  //   position: fixed;
  //   top: 7%;
  //   left: 80%;
  // }
}

.close {
  span {
    position: relative;
    transition: 0.3s ease;

    &:first-child {
      transition: 0.3s ease;
      transform: translateX(0%) translateY(220%) rotate(45deg);
    }

    &:nth-last-child(2) {
      transition: 0.3s ease;
      opacity: 0;
      transform: translateX(-100%);
    }

    &:last-child {
      transition: 0.3s ease;
      transform: translateX(0%) translateY(-450%) rotate(-45deg);
    }
  }
}

.open {
  span {
    position: relative;
    transition: 0.3s ease;

    &:first-child {
      transition: 0.3s ease;
      transform: translateX(0%) translateY(0%) rotate(0deg);
    }

    &:nth-last-child(2) {
      transition: 0.3s ease;
      opacity: 1;
      transform: translateX(0%);
    }

    &:last-child {
      transition: 0.3s ease;
      transform: translateX(0%) translateY(0%) rotate(0deg);
    }
  }
}

.header__special {
  height: 30px;
  padding-top: 1px;
  transition: all 0.1s;
  border-radius: 30%;
  &-heart:hover {
    background-color: #d6192b;
    border-radius: 50%;
  }
  &-heart:hover svg {
    -webkit-filter: invert(1) contrast(150%);
    filter: invert(1) contrast(150%);
    transform: scale(0.7);
  }
  &-cart {
    margin-right: 10px;
    position: relative;
    & span {
      position: absolute;
      right: -60%;
      bottom: 0;
    }
  }
}
.header__special:hover {
  transform: scale(1.1);
  transition: all 0.1s;
}
.header__blockImg:hover {
  img {
    box-shadow: 1px 1px #1c62cd, 2px 2px #1c62cd, 3px 3px #1c62cd,
      4px 4px #1c62cd, 5px 5px #1c62cd, 6px 6px #1c62cd, 7px 7px #1c62cd;
    -webkit-transform: translateX(-2px);
  }
}

// @media screen and (max-width: 380px) {
//   .header__info {
//     top: 7%;
//     left: 65%;
//   }
// }
