.mainPageSearchCards {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 350px);
  grid-template-rows: repeat(2, 170px);
  grid-auto-rows: 170px;
  grid-auto-columns: 370px;
  gap: 30px;
  margin-bottom: 80px;

  &__card {
    display: flex;
    justify-content: space-between;
    border: 1px solid #cdcdcd;
    background-color: #fff;
    border-radius: 3px;
    padding: 15px;
    align-items: center;

    &__left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 23px;
        line-height: 28px;
        color: #2f3035;
        max-width: 169px;
        //padding-bottom: 50px;
      }

      &__quantity {
        font-size: 14px;
        line-height: 28px;
        color: #2f3035;
        max-width: 169px;
      }

      &__btn {
        a {
          margin: auto 0 0 0;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: #c4c4c4;
          background: #ffffff;
          border: none;
        }
      }
    }

    &__right {
      & .image {
        max-width: 120px;
        max-height: 120px;
      }
    }
  }
}

.mainPageSearchCards__card:hover {
  transform: scale(0.98);
  transition: all 0.3s;
  border: 3px solid #1c62cd;
}

.mainPageSearchCards__card__left__btn {
  cursor: pointer;
}

@media screen and (max-width: 1140px) {
  .mainPageSearchCards {
    grid-template-columns: repeat(2, 450px);
  }
}

@media screen and (max-width: 950px) {
  .mainPageSearchCards {
    grid-template-columns: repeat(2, 400px);
  }
}

@media screen and (max-width: 860px) {
  .mainPageSearchCards {
    grid-template-columns: repeat(2, 350px);
  }
}

@media screen and (max-width: 768px) {
  .mainPageSearchCards__card {
    grid-column: span 2;
  }
}

@media screen and (max-width: 700px) {
  .mainPageSearchCards {
    grid-template-columns: repeat(2, 200px);
  }
}

@media screen and (max-width: 700px) {
  .mainPageSearchCards {
    grid-template-columns: repeat(2, 200px);
  }
}

@media screen and (max-width: 450px) {
  .mainPageSearchCards {
    grid-template-columns: repeat(2, 180px);
  }
}

@media screen and (max-width: 375px) {
  .mainPageSearchCards {
    grid-template-columns: repeat(2, 160px);
  }
}

@media screen and (max-width: 370px) {
  .mainPageSearchCards {
    grid-template-columns: repeat(2, 130px);
  }
  .mainPageSearchCards__card__left__title {
    font-size: 17px;
  }
  .mainPageSearchCards__card__right {
    & .image {
      max-width: 100px;
    }
  }
}
