.mainPageAdvertiseSlider {
  grid-column: span 3;
}

@media screen and (max-width: 865px) {
  .mainPageAdvertise__slider {
    grid-column: span 5;
  }
  .carousel-indicators{
    display: none;
  }
}
