.mainPageAdvertiseSlider {
  grid-column: span 3;
}

.carousel-indicators {
  bottom: 2%;
}

.advertise-slide img {
  max-height: 520px;
}
@media screen and (max-width: 865px) {
  .mainPageAdvertise__slider {
    grid-column: span 5;
  }
  .carousel-indicators {
    display: none;
  }
}
