.mainPageAdvertise {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  //grid-template-rows: 470px;
  gap: 130px 20px;
  margin-bottom: 30px;

  .carousel-control-prev-icon {
    position: relative;
    left: -40%;
  }

  .carousel-control-next-icon {
    position: relative;
    right: -40%;
  }

  .carousel-indicators {

    button {
      position: relative;
      bottom: -30px;
      margin-top: 20px;
      border-radius: 50%;
      padding: 10px;
      width: 0px;
      height: 0px;
    }
  }

  &__slider {
    grid-column: span 3;
  }

  &__card {
    grid-column: 4/6;
  }
}

@media screen and (max-width: 768px) {
  .mainPageAdvertise {
    gap: 80px 20px;
  }
}

@media screen and (max-width: 544px) {
  .mainPageAdvertise {
    gap: 50px 10px;
  }
}