.mainPageAdvertise {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  //grid-template-rows: 470px;
  gap: 0 20px;

  &__slider {
    grid-column: span 3;
  }

  &__card {
    grid-column: 4/6;
  }
}