@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

*::before,
*::after {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

ul,
li {
  list-style: none;
}

body {
  overflow-x: hidden;
}

body, div, p, a, input, ul, li, {
  margin: 0;
  padding: 0;
}

