.partnership {
  &__title {
    h2 {
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;
      color: #2F3035;
      margin-bottom: 20px;
    }
  }

  &__text {
    margin-bottom: 20px;
    p {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #2F3035;
      margin-bottom: 20px;
    }
  }
  &__feedback{
    margin-bottom: 30px;
  }
}