.sideBar {
  min-width: 100px;
  height: auto;

  &__pos {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 6;
    max-width: 250px;
    border-right: 1px solid #e7e7e7;
    background-color: #fff;
    width: 100px;
    overflow: hidden;
    padding-top: 70px;
    transition: 0.3s;
    height: 100vh;
    &.mobile {
      padding-top: 30px;
      box-shadow: 0px 0 100px 0 #777777;
      &.left {
        left: -100%;
      }
    }
  }

  aside {
    padding: 20px 0 20px 20px;
  }

  &__wrapper {
    height: calc(100vh - 94px);
    overflow-y: hidden;
    direction: rtl;
  }

  &__content {
    direction: ltr;

    &__burger {
      display: flex;
      padding-left: 35px;
      align-items: center;

      &__left {
        span {
          transition: 0.3s ease;
          display: block;
          border: 1px solid black;
          width: 30px;
          margin-bottom: 5px;
        }
      }

      &__right {
        display: flex;
        padding-left: 35px;
      }
    }
  }
}

.sideBar {
  &__block {
    display: block;
    align-items: center;
    padding-top: 20px;
    position: relative;

    &__items {
      position: relative;
      min-width: 229px;
      width: 100%;
      max-height: 60px;
      display: flex;
      align-items: center;

      &:hover {
        border-right: 2px solid #0302fb;
      }

      &:not(.mobile):hover,
      .sideBarSub:hover {
        .sideBarSub {
          transition: all 0.5s ease;
          display: block;
        }
      }
    }
  }

  &__text {
    display: flex;
    margin-left: 20px;
  }

  &__pos:hover,
  &__pos.mobile {
    .sideBar__wrapper {
      overflow-y: scroll;
    }

    .sideBar__content__burger__left {
      span {
        position: relative;
        transition: 0.3s ease;

        &:first-child {
          transition: 0.3s ease;
          position: absolute;
          transform: translateX(0%) translateY(-100%) rotate(45deg);
        }

        &:nth-last-child(2) {
          transition: 0.3s ease;
          opacity: 0;
          transform: translateX(-100%);
        }

        &:last-child {
          position: absolute;
          transition: 0.3s ease;
          transform: translateX(0%) translateY(-540%) rotate(-45deg);
        }
      }
    }

    width: 100%;

    .sideBar__text {
      cursor: pointer;
    }
  }

  &__img {
    max-width: 60px;
    max-height: 60px;
    &-skeleton {
      background-color: gray;
      border-radius: 8px;
      width: 60px;
      height: 60;
    }
  }
}

.sideBarSub {
  transition: all 0.5s ease;
  padding: 20px;
  position: fixed;
  max-width: 450px;
  width: 100%;
  height: 100vh;
  background: #ffffff;
  box-shadow: 1px 4px 2px rgba(0, 0, 0, 0.4);
  top: 0;
  left: 250px;
  display: none;

  &__img {
    max-width: 150px;
    max-height: 150px;
  }

  &__text {
    text-align: center;
  }
}

.sideBarBlock {
  &__sub__nav {
    height: calc(100vh - 60px);
    overflow-y: scroll;
  }

  &__sub__nav__bar {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
    row-gap: 20px;
    &__item {
      max-width: 180px;
    }
  }
}

.sideBarImg:hover {
  img {
    transform: scale(0.95);
    transition: all 0.3s;
    cursor: pointer;
  }
}

.sideBar__wrapper::-webkit-scrollbar {
  width: 5px;
  background-color: #f9f9fd;
}

.sideBar__wrapper::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #1c62cd;
}

.sideBar__wrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #f9f9fd;
}

.sideBarBlock__sub__nav::-webkit-scrollbar {
  width: 5px;
  background-color: #f9f9fd;
}

.sideBarBlock__sub__nav::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #1c62cd;
}

.sideBarBlock__sub__nav::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #f9f9fd;
}

@media screen and (max-width: 1242px) {
  .sideBar__pos {
    height: 112vh;
  }
  .sideBarSub {
    height: 112vh;
  }
  .sideBar__wrapper {
    height: calc(100vh - 25px);
  }
}
@media (max-width: 951px) {
  .sideBar {
    width: 0;
    min-width: unset;
    max-width: unset;
  }
}
@media (max-width: 720px) {
  .sideBarSub {
    left: 0;
    z-index: 10;
  }
}
