.sideBar {
  min-width: 100px;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  &__pos {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    max-width: 250px;
    overflow: hidden;
    border-right: 1px solid #e7e7e7;
    background-color: #fff;
    width: 100px;
    transition: 0.3s;
    min-height: 100vh;
  }
  &__wrapper {
    padding-top: 70px;
  }

  aside {
    padding: 20px 0 20px 20px;
  }

  &__content {
    &__burger {
      display: flex;
      padding-left: 15px;
      align-items: center;

      &__left {
        span {
          display: block;
          border: 1px solid black;
          width: 30px;
          margin-bottom: 5px;
        }
      }

      &__right {
        display: flex;
        padding-left: 35px;
      }
    }
  }
}

.sideBar {
  &__block {
    display: block;
    align-items: center;
    padding-top: 20px;
    position: relative;

    &__items {
      width: 100%;
      display: flex;
      align-items: center;
      //border-right: 1px solid #e7e7e7;
      &:hover,
      .sideBarSub:hover {
        .sideBarSub {
          transition: all 0.5s ease;
          display: block;
        }
      }
    }
  }

  &__text {
    display: flex;
    margin-left: 20px;
  }

  &__pos:hover {
    width: 100%;
    .sideBar__text {
      cursor: pointer;
    }
  }

  &__img {
    max-width: 60px;
    max-height: 60px;
  }
}

.sideBarSub {
  transition: all 0.5s ease;
  padding: 20px;
  position: fixed;
  max-width: 450px;
  width: 100%;
  min-height: 100vh;
  background: #ffffff;
  box-shadow: 1px 4px 2px rgba(0, 0, 0, 0.4);
  top: 0;
  left: 250px;
  display: none;

  &__title {
  }

  &__img {
    max-width: 150px;
    max-height: 150px;
  }

  &__text {
    text-align: center;
  }
}
// Нужно по этому тексту но не робит
//.sideBar__text {
//  &:hover {
//    .sideBarSub {
//      display: flex;
//    }
//  }
//}

.sideBarBlock__sub__nav__bar {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
