.mainPage {
  &__partners {
    padding: 25px 5px;
    border-radius: 8px;
    background-color: #f4f8fc;
    &-title {
      text-align: center;
      font-weight: bold !important;
    }
    &-slider {
      position: relative;
    }
    & .swiper-wrapper {
      padding: 20px 0;
    }
    &-item {
      overflow: hidden;
      width: 100%;
      min-width: 170px;
      height: 170px;
      display: flex;
      padding: 10px;
      justify-content: center;
      align-items: center;
      border-radius: 16px;
      border: 1px solid #d6eaff;
      background: #fff;
      // @media (max-width: 961px) {
      //   width: ;
      // }
    }
    &__nav {
      & div {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        cursor: pointer;
      }
      &-prevBtn {
        left: 0;
      }
      &-nextBtn {
        right: 0;
      }
    }
    & img {
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center;
      object-position: center;
    }
  }
}
