.catalogPage {
  flex-grow: 1;
  &__content {
    display: flex;
    &__left {
      min-width: 200px;
    }
    &__right {
      margin-left: 10px;
    }
    .favorites &__right {
      margin: 0 auto;
    }

    &__left {
      span {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.09em;
        text-transform: uppercase;
        color: #2f3035;
      }

      &__price {
        margin-top: 20px;
      }
    }
  }

  &__top {
    span {
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      color: #c4c4c4;
      padding-left: 10px;

      &:first-child {
        padding-left: 0px;
      }
    }

    h2 {
      margin-top: 40px;
      margin-bottom: 25px;
    }
  }

  &__mid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #2f3035;

    select {
      background: #fff;
      outline: none;
      border: 1px solid #cdcdcd;
      padding: 8px 46px 8px 20px;
    }
  }
}

@media screen and (max-width: 768px) {
  .catalogPage__content {
    flex-wrap: wrap;
  }
  .catalogPage__content__right {
    padding-top: 50px;
    margin: 0 auto;
  }
  .catalogPage__mid {
    justify-content: flex-start;
  }
}
