@import "./base/base";

// components
@import "./components/header";
@import "./components/footer";
// components

//pages components
@import "./pages/mainPage/components/mainPageAdvertise";
@import "pages/mainPage/components/mainPageAdvertiseCard";
@import "./pages/mainPage/components/mainPageAdvertiseSlider";
@import "./pages/mainPage/components/mainPageSearchCards";
@import "./pages/mainPage/components/mainPageSearchSelect";
@import "./pages/mainPage/components/mainPagePopular";
@import "./pages/catalogPage/components/catalogPageCards";
@import "./pages/catalogPage/components/catalogPageProducts";
@import "pages/cartPage/components/cartPageEmpty";
@import "pages/cartPage/components/cartPageProducts";
//pages components

// pages
@import "./pages/mainPage/mainPage";
@import "./pages/pageContent";
@import "pages/sideBarPage";
@import "./pages/catalogPage/catalogPage";
@import "./pages/contactsPage/contactsPage";
@import "pages/aboutPage/aboutPage";
@import "pages/partnershipPage/partnershipPage";
@import "pages/orderPage/orderPage";
@import "pages/cartPage/cartPage";
// pages

@import "global";




